[submodule "wasm/quake2-wasm"]
	path = wasm/quake2-wasm
	url = https://github.com/Paril/quake2-wasm.git
[submodule "sources/wod/src"]
	path = sources/wod/src
	url = https://github.com/ulatekh/quake2-WOD
[submodule "sources/vortex/src"]
	path = sources/vortex/src
	url = https://github.com/zardoru/vrxcl.git
[submodule "sources/action/src"]
	path = sources/action/src
	url = https://github.com/aq2-tng/aq2-tng
[submodule "sources/_quake2"]
	path = sources/_quake2
	url = https://github.com/id-Software/Quake-2
[submodule "sources/spaq/src"]
	path = sources/spaq/src
	url = https://github.com/Paril/spaq2-pe.git
